<!DOCTYPE html>
<html>
  <head>
    <title>MongodbRailsDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  </head>

  <body>
    <div class="header">
      <h2">Welcome</h2>
      <div class="header-tabs">
        <% if user_signed_in? %>
            Welcome <%=  current_user.email %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path%> or <%= link_to "Sign up", new_user_registration_path %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
